<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>subscription</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="profile && !profile.subscription">
    <ion-card-header>
      Ninja registration
    </ion-card-header>
    <ion-card-content>
      We don't know how, but you've secretly managed to create a profile without a subscription! <br/>
      Please contact us so we can resolve the issue for you.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile && profile.subscription">
    <ion-card-header>
      Usage:
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="profile && profile.subscription">
    <ion-card-header>{{ profile.subscription.usage }}</ion-card-header>
  </ion-card>


  <ion-card *ngIf="offers">
    <ion-card-header>
      Top up:
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-col *ngFor="let offer of offers">
      <button ion-button (click)="onOfferClick(offer)">{{ offer.label }}</button>
    </ion-col>
  </ion-grid>
</ion-content>
